
<li class="items" id="item-<%= todo_item.id %>" >
	<span class="task-text"><%= todo_item.task %></span>
<% if todo_item.completed.present? %>

	<span class="meta-data"> completed at <%= todo_item.completed.strftime('%D %r') %> </span>

<% else %>

	<span class="meta-data"> created at <%= todo_item.created_at.strftime('%D %r') %> </span>

<% end %>

	<span class="actions">
		<!-- <span class="due-timer">due in 26 seconds</span> -->
		<% unless todo_item.completed.present? %>
		<button class="complete" id="complete-<%= todo_item.id %>" >Complete</button>
		<% end %>
		<button class="delete" id="delete-<%= todo_item.id %>" >Delete</button>
	</span>
</li>
